
body {
	width: 100%;
	margin: 0;
	background-image: url("../images/new_year_background.png");
}

/*Navigation Bar*/

.Heading {
	border-width: 0px 0px 1px 0px;
	border-bottom: #cccccc;
	border-style: solid;
	width: 100%;
	/*overflow: auto;*/
	background-color: white;

}

#Name {
	background-color: #4aaaa5;
	color: white;
	width: 15%;
	padding: 30px 0 30px 0;
	text-align: center;
	margin: 0px;
	position: relative;
	left: 150px;
	font-weight: bold;
	font-size: 32px;
	

}


/*.Links {
	float: right;
	padding: 20px 0 20px 0;
	position: absolute;
	top: -70px;
	color: #F0F0F0;
	list-style-type: none;
	

	


}
*/

.navLinks {
	
	float: right;
	position: relative;
	top: -55px;
	right: 15%;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
	color: #777777;
	margin: 0px 15px 0px 15px;
	display: inline;
	text-decoration: none;
	
	
}

a {
	text-decoration: none;
	color: #777777;

}




/*Horizontal Rules*/

#section1 {

	border: 2px #E4E4E4 solid;
}

#section2 {

	border: 2px #F5F5F5 solid;
}


/*Main Section*/

.Wrapper {
	clear: both;
	width: 100%;
	overflow: auto;
	padding-bottom: 150px;
	
}


.Content {
	background-color: #ffffff;
	border-color: #dddddd;
	border-width: 2px;
	border-style: solid;
	width: 650px;
	overflow: auto;
	float: left;
	padding: 20px;
	position: relative;
	top: 35px;
	left: 15%;
}


.socialmedia { 
	background-color: #ffffff;
	border-color: #dddddd;
	border-width: 2px;
	border-style: solid;
	position: relative;
	width: 270px;
	overflow: auto;
	top: 35px;
	left: 20%;
	padding: 10px;
	

}

#linkedin, #github, #stackoverflow {
	float: left;
	height: 50px;
	width: 50px;
	margin: 10px 10px 10px 27px;

}


/*Headings and Paragraphs*/

h1 { 
	font-size: 32px;
	font-family: 'Georgia', Times, Times New Roman, serif; 
	color: #4aaaa5;
	font-weight: bold;
	padding: 10px 10px 20px 10px;
 } 



h2 {
	font-family: 'Georgia', Times, Times New Roman, serif; 
	color: #4aaaa5;
	font-weight: bold;
	font-size: 24px;
	padding: 10px;
	text-align: center;

}


p {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	color: #777777;
	line-height: 1.5;
	margin-top: 20px;
	padding: 0 10px;
}


/*About Me Profile Pic*/

#ProfilePic {
	float: left;
	padding: 10px 10px 5px 10px;
	margin-top: 10px
	
}


/*Footer Section*/

#footer {

	background-color: #666666;
	color: #B9B9B9;
	border-top-width: 7px;
	border-color: #4aaaa5;
	border-style: solid;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	font-size: 12px;
	text-align: center;
	width: 100%;
	padding: 35px 0 35px 0;
	position: fixed;
	bottom: 0;

}



 /*Contact HTML*/

 input[type=text], select {
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
}

textarea {
	width: 100%;
	display: inline-block;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;

}

input[type=submit] {
    width: 15%;
    background-color: #4aaaa5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 16px;
}

input[type=submit]:hover {
    background-color: #4aaaa4;

}


/*Portfolio*/

.img1 {

	background: url("../images/sample1.jpg");
	height: 200px;
	width: 250px;

}

.img2 {
	background: url("../images/sample2.jpg");
	height: 200px;
	width: 250px;
}

.img3 {
	background: url("../images/sample3.jpg");
	height: 200px;
	width: 250px;
}


.img4 {
	background: url("../images/sample4.jpg");
	height: 200px;
	width: 250px;
}


.img5 {
	background: url("../images/sample5.jpg");
	height: 200px;
	width: 250px;
}


.img6 {
	background: url("../images/sample6.jpg");
	height: 200px;
	width: 250px;
}


.imgList {
	display: inline;
	float: left;
	margin: 20px;

}

.imgGrid {
	margin-left: 33px;
}


.title {
	color: white;
	background-color: #4aaaa5;
	margin: 0px;
	padding: 10px 0 10px 0;
	position: relative;
	top: 130px;

}


/*Media Queries*/

@media screen and (max-width: 980px) {

	.Content {
		width: 350px;
		
	}


	#Name {
		font-size: 28px;
		width: 250px;
		
		
	}


	input[type=submit] {
		width: 100px;
	}


	.navLinks {
		right: 9%;
	}

	h2 {

		text-align: left;
	}



}

@media screen and (max-width: 768px) {

	#Name {
		left: 5%;
	}

	.Content {
		width: 650px;
		left: 5%;
		margin-bottom: 40px; 
	}


	.socialmedia {
		left: 5%;
		width: 650px;
		padding: 20px;
		
	}


	.navLinks {
		right: 4%;
	}


	h2 {
		text-align: left;
	}


	.title {
		text-align: center;
	}


}

@media screen and (max-width: 640px) {

	.Wrapper {
		padding-bottom: 350px;
	}

	.Heading{
		width: 640px;
	}

	#Name {
		width: 100%;
		left: 0%;
		padding: 20px 0 20px 0;
		

	}


	.navLinks {
		top: 15px;
		right: 60px;
		margin-left: 65px;
		background-color: #ffffff;

	}
		
	.Links {
		background-color: #ffffff;
		height: 45px;

	}


	.Content {

		width: 530px;
		position: relative;
		top: 60px;

		
	}

	.socialmedia {
		width: 530px;
		top: 60px;
	}


	.imgGrid {
		margin-left: 120px;
	}





}


